#filters {
	bottom: 0;
    position: absolute;
    width: 100%;
}

.fa, .fas {
	font-size: xx-large;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.alert {
	display: none;
}

.page-holder {
	width: 90%;
	margin: auto;
}

h1 {
	text-align: center;
	margin-top: 50px;
    margin-bottom: 20px;
    font-size: 400%;
    font-weight: 700;
}